@import './variables';

body {
  margin: 0;
  color: $color-base;
}

body,
input,
textarea,
select {
  font-size: $font-size-base;
  font-family: $font-family-base;
}

* {
  box-sizing: border-box;
}

a {
  color: $brand-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $brand-primary-dark;
  }
}
