@import '../../../variables';

.cr-password-form {
  &__horizontal {
    display: flex;
    width: 100%;

    .cr-password-form__group {
      flex: 1;

      &:not(:last-child) {
        margin-right: $spacing-base;
      }
    }
  }

  &__help {
    color: $color-light;
    margin: $spacing-base 0;
  }
}
