@import '../../variables';

.cr-app {
  position: relative;
  display: flex;

  &__floating-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    z-index: 1;
  }

  &__floating-item {
    background: $bg-light;
    box-shadow: $bg-light-shadow;
    padding: $spacing-base;
    border-radius: $radius-base;
    transition: 0.3s opacity ease-in-out;
    margin: $spacing-base;
  }

  &__map {
    position: relative;
    z-index: 0;
    height: 100vh;
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &__main {
    flex-grow: 1;
  }

  &__sidebar {
    position: relative;
    z-index: 1;
    flex-basis: 250px;
  }
}
