@import '../../../variables';

.cr-comment {
  background: $bg-light;
  box-shadow: $bg-light-shadow;
  border-radius: $radius-base;
  transition: 0.3s opacity ease-in-out;

  &__form,
  &__inner {
    padding: $spacing-base;
  }

  &__form {
    border-top: 1px solid $border-color-base;
  }

  &__content {
    margin-top: $spacing-base;
  }

  &--saving {
    opacity: 0.7;
    transition: none;
  }
}
