@import '../../../variables';

.cr-comment {
  background: $bg-light;
  box-shadow: $bg-light-shadow;
  padding: $spacing-base;
  border-radius: $radius-base;

  &__content {
    margin-top: $spacing-base;
  }
}
