@import '../../../variables';

.cr-share-modal__link-input {
  display: block;
  width: 100%;
  margin-top: 2*$spacing-base;
  padding: $spacing-base;
  border-radius: $radius-base;
  border: 1px solid $border-color-base;
}
