@import '../../variables';

.cr-navbar {
  position: relative;
  background: $bg-light;
  box-shadow: $bg-light-shadow;
  padding: $spacing-base;
  z-index: 2;
  display: flex;
  align-items: center;

  &__route-title {
    flex-grow: 1;
    font-size: $font-size-larger;
  }

  &__share {
    background: $brand-secondary;
    color: $color-inverse;
    border: 0;
    padding: 7px 12px;
    font-size: $font-size-base;
    border-radius: $radius-base;
    flex-shrink: 2;
    cursor: pointer;

    &:hover {
      background: $brand-secondary-dark;
    }
  }

  &__dashboard-link {
    margin-right: $spacing-small;

    svg {
      width: 24px;
      height: 24px;

      path {
        fill: $color-secondary;
      }
    }

    &:hover {
      path {
        fill: $brand-primary;
      }
    }
  }

  &__route-title {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      margin-left: $spacing-small;

      path {
        fill: $color-light;
      }
    }
  }

  &__route-title-input {
    border: 1px solid transparent;
    border-radius: $radius-base;
    padding: $spacing-base $spacing-small;
    outline: none;

    &:hover {
      border-color: $border-color-base;
    }

    &:focus {
      border-color: $brand-primary;
    }
  }
}
